body {
  padding-top: 70px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #D0D0FF; }
.inner-item {
    text-align: center;
    img {
    margin: 0 auto;}}

.padded { padding:2px;}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


