$def with (content)
<h2>$content['value']</h2>
$content['rows'] items for $content['view']<br>
<div class="inner-item">
$if content['pages'] > 1:
  <ul class="pagination">
  <li><a href="?page=$(content['page']-1)">&laquo;</a></li>
  $for i in range(content['pages']):
    $if i == content['page']:
      <li class="active"><a href="?page=$i">$i</a></li>
    $else:
      <li><a href="?page=$i">$i</a></li>
  <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<hr>
$for i in content['data']:
  <a href="/thing/$i['id']">
  <div class="row">
  $if 'thumb' in i['value']:
    <div class="col-sm-3">
    <img class="img-thumbnail" src="/attachment/$i['id']/$i['value']['thumb']">
    </div>
  <div class="col-md-11">
  <a href="/thing/$i['id']">$i['value']['name']</a>
  <br><small>by $i['value']['author']</small>
  </div>
  </div>
  </a>
  <hr>

$if content['pages'] > 1:
  <ul class="pager">
  <li><a href="?page=$(content['page']+1)">Next</a></li>
  </ul>
