$def with (content)
$var title: 'slides'
<div class="bs-example">
<div id="carousel-example-generic" class="carousel slide">
  <!-- Wrapper for slides -->
  <div height="400px" class="carousel-inner">
    <div class="item active">
    <div class="inner-item">
  	  <img  src="$content['couch']/$content['database']/$content['rows'][0]['id']/$content['rows'][0]['value']" alt="stuff">
    </div>
    </div>
$for i in content['rows'][1:]:
  <div class="item ">
  <div class="inner-item">
  <a href="/thing/$i['id']">
  <img  src="$content['couch']/$content['database']/$i['id']/$i['value']" alt="stuff">
  </a>
  <div class="carousel-caption">
  </div>
  </div>
  </div>
</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
</div>

