$def with (id,attach)
<div id="tjs" width="300px" height="300px" ></div>
		<script src="../static/js/three.min.js"></script>

		<script src="../static/js/OrbitControls.js"></script>

		<script src="../static/js/Detector.js"></script>
		<script src="../static/js/stats.min.js"></script>

		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var container, stats;

			var camera, controls, scene, renderer;

			var cross;

			init();
			animate();

			function init() {

				camera = new THREE.PerspectiveCamera( 30, window.innerWidth / window.innerHeight, 1, 5000 );
				camera.position.z = 100;

				controls = new THREE.OrbitControls( camera );
				controls.addEventListener( 'change', render );

				scene = new THREE.Scene();
				//scene.fog = new THREE.FogExp2( 0xcccccc, 0.002 );

				loader = new THREE.STLLoader();
                                  loader.load( "/attachment/$id/$attach", function( geometry ) { mesh = new THREE.Mesh( geometry, new THREE.MeshPhongMaterial({ color : 0xAAAAAA}) );scene.add(mesh) } );
				// world

				// lights

				light = new THREE.DirectionalLight( 0x777777);
				light.position.set( 1, 1, 1 );
				scene.add( light );

				light = new THREE.DirectionalLight( 0x002288 );
				light.position.set( -1, -1, -1 );
				scene.add( light );

				light = new THREE.AmbientLight( 0x222222 );
				scene.add( light );


				// renderer

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				//renderer.setClearColor( scene.fog.color, 1 );
				renderer.setSize( 1024,768);

				container = document.getElementById( 'tjs' );
				container.appendChild( renderer.domElement );

				stats = new Stats();
				stats.domElement.style.position = 'absolute';
				stats.domElement.style.top = '0px';
				stats.domElement.style.zIndex = 100;
				container.appendChild( stats.domElement );

				//

				window.addEventListener( 'resize', onWindowResize, false );
				renderer.render(scene,camera);
			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				render();

			}

			function animate() {

				requestAnimationFrame( animate );
				controls.update();

			}

			function render() {

				renderer.render( scene, camera );
				stats.update();

			}


		</script>
